# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
build/
docs/source/generated/

# Unit test / coverage reports
.coverage
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv

# Ruff stuff:
.ruff_cache/

# VScode
.vscode/
